In [1]:
class Person:
    pass

john_doe = Person()
john_doe.name = "Alec"
john_doe.surname = "Baldwin"
john_doe.year_of_birth = 1958


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x7fb0f8f0ba90>
Alec Baldwin was born in 1958.

In [2]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [3]:
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print("%s %s was born in %d"% (alec.name,alec.surname,alec.year_of_birth))

<__main__.Person object at 0x7fb0f5493bd0>
Alec Baldwin was born in 1958

In [4]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec.age(2019))

Alec Baldwin was born in 1958 .
61

In [5]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

Charlie Brown was born in 2006 .
<class '__main__.Student'>
True
True

In [6]:

class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)

Charlie Brown was born in 2006 . And has ID: 1

In [7]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [8]:
%%writefile superman.txt
Hello, this is a quick superman test file

Writing superman.txt

In [9]:
my_file = open('superman.txt')

In [10]:
my_file.read()

'Hello, this is a quick superman test file'

In [11]:
my_file.read()

''

In [12]:
my_file.seek(0)

0

In [13]:
my_file.read()

'Hello, this is a quick superman test file'

In [14]:
my_file.seek(0)

0

In [15]:
my_file.readlines()

['Hello, this is a quick superman test file']

In [16]:
my_file = open('superman.txt','w+')

In [17]:
my_file.write('This is a new line')

18

In [18]:

my_file.seek(0)

0

In [19]:
my_file.read()

'This is a new line'

In [20]:
%%writefile test.txt
First Line
Second Line

Writing test.txt

In [21]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

In [22]:
for asdf in open('test.txt'):
    print(asdf)

First Line

Second Line

In [32]:
from io import StringIO

In [33]:
message = 'This is just a normal string.'

In [34]:
f = StringIO(message)

In [35]:
f.read()

'This is just a normal string.'

In [36]:
f.write(' Second line written to file like object')

40

In [37]:
f.seek(0)

0

In [38]:
f.read()

'This is just a normal string. Second line written to file like object'